@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120vh;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
button.wallet-adapter-button-trigger {
  @apply flex font-bold font-primary items-center hover:bg-gray-800 bg-[#A89CF2] h-14 p-3 w-60 justify-center align-middle rounded-lg shadow-md;
}
